@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    --clearly-white: white;
    --mind2money-dark: #000000;
	--mind2money-another-dark: #0F0F0F;
	--mind2money-grey: #D5D5D5;
	--mind2money-dark-grey: #A1A1A1;
	--mind2money-yellow: #FDD221;
	--mind2money-rgba-border: #77777D33;
	--mind2money-step-list-rgba-border: #FFFFFF14;
	--mind2money-border: #262626;
	--mind2money-rgba-background: #0A0A0A80;
	--mind2money-contact-support-rgba-background: #0A0A0A4D;
    --mind2money-mob-background: #000000a1;
}

@font-face {
	font-family: Damn;
	src: url(../fonts/DAMN.ttf);
}

@font-face {
	font-family: Dharma-Gothic-E;
	src: url(../fonts/DharmaGothicE_ExBold_I.otf);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

button {
	margin: 0;
	padding: 0;
	font-family: inherit;
	outline: none;
	border: none;
	color: currentColor;
	background-color: transparent;
    cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
	color: var(--clearly-white);
	overflow: auto;
	scrollbar-gutter: stable both-edges;
    background-color: var(--mind2money-dark);
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		margin: 20px 0;
		opacity: 0;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
        border-radius: 4px;
		background-color: var(--mind2money-grey);
	}
}

.is_hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}