.about-project .container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--mind2money-another-dark);
    @include desk {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.about-project__title-wrap {
    text-align: center;
    margin-bottom: 35px;
    @include desk {
        margin-bottom: 70px;
    }
}

.about-project__title,
.reviews__title {
    font-weight: 500;
    font-size: 50px;
    line-height: calc(70 / 50);
    text-transform: uppercase;
    color: var(--mind2money-grey);
    display: inline-block;
    position: relative;
    @include desk {
        font-size: 60px;
        line-height: calc(70 / 60);
    }
    &::after {
        content: "";
        display: block;
        width: 20px;
        height: 37px;
        background-image: url(../images/mind2money_logo_smaller.svg);
        position: absolute;
        right: -20px;
        top: -12px;
    }
}

.about-project__main-wrap {
    @include desk {
        display: flex;
    }
}

.about-project__image {
    width: 377px;
    margin-bottom: 25px;
    @include desk {
        margin-right: 65px;
        margin-bottom: 0;
    }
}

.about-project__text {
    font-size: 20px;
    line-height: calc(36 / 20);
    color: var(--mind2money-grey);
    margin-bottom: 60px;
    @include desk {
        font-size: 30px;
        line-height: calc(42 / 30);
    }
}

.about-project__list {
    display: flex;
    justify-content: space-between;
}

.about-project__number {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(45 / 40);
    color: var(--mind2money-yellow);
    @include desk {
        font-size: 50px;
        line-height: calc(50 / 50);
        margin-bottom: 2.75px;
    }
}

.about-project__meaning {
    font-weight: 400;
    font-size: 13px;
    line-height: calc(25 / 13);
    color: var(--mind2money-yellow);
    @include desk {
        font-size: 16px;
        line-height: calc(30 / 16);
    }
}