.footer .container {
    padding-bottom: 27px;
}

.footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: var(--mind2money-grey);
    padding: 8px 0;
}