.hero .container{
    display: flex;
    padding-left: 130px;
    padding-top: 94px;
    padding-bottom: 47px;
    background: url(../images/mind2money_hero_overlay.png), radial-gradient(95.68% 95.68% at 92.47% 4.32%, #BEBEBE 0%, #000000 100%);
}

.hero__image {
    width: 534px;
}

.hero__main-wrap {
    margin-left: 60px;
    margin-top: 53px;
}

.hero__title {
    font-family: Damn, sans-serif;
    font-weight: 400;
    font-size: 150px;
    line-height: calc(156 / 150);
    text-transform: uppercase;
    color: var(--mind2money-grey);
}

.hero__after-title {
    font-weight: 400;
    font-size: 20px;
    line-height: calc(28 / 20);
    color: var(--mind2money-grey);
    margin-bottom: 40px;
}

.hero__timer-wrap {
    @include flex_align;
    width: 447px;
    padding-left: 35px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: 1px solid var(--mind2money-yellow);
}

.hero__timer-text {
    font-family: IBM Plex Mono, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(27 / 20);
    text-transform: uppercase;
    color: var(--clearly-white);
    margin-right: 15px;
}

.hero__timer {
    font-family: Dharma-Gothic-E, sans-serif;
    font-size: 57px;
    line-height: calc(57 / 57);
    text-transform: uppercase;
    color: var(--mind2money-dark);
    min-width: 172px;
    padding: 19px 25px;
    border-radius: 12px;
    background-color: var(--mind2money-yellow);
}

.hero__link {
    font-size: 21px;
    line-height: calc(20 / 21);
    color: var(--mind2money-another-dark);
    display: inline-block;
    padding: 21px 35px;
    border-radius: 15px;
    border: 1px solid var(--mind2money-rgba-border);
    background-color: var(--mind2money-yellow);
    @include scale_with_pointer;
}