.steps-list .container {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: var(--mind2money-dark);
    background-image: url(../images/mind2money_steps_list_background.jpg);
    background-repeat: no-repeat;
    background-position: right 0% top 100%;
    background-size: auto;
}

.steps-list__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.steps-list__item {
    width: 412px;
    padding: 61px 41px;
    border-radius: 20px;
    border: 1px solid var(--mind2money-step-list-rgba-border);
    background-color: var(--mind2money-another-dark);
    @include scale_with_pointer;
    &:nth-child(2) {
        padding-right: 45px;
        padding-bottom: 33px;
        .steps-list__number {
            margin-bottom: 53px;
        }
        .steps-list__title {
            margin-bottom: 5px;
        }
    }
    &:nth-child(3) {
        padding-right: 24px;
        padding-bottom: 33px;
    }
    &:nth-child(4) {
        padding-right: 61px;
    }
}

.item-bigger {
    width: 854px;
}

.steps-list__number {
    font-size: 30px;
    line-height: calc(42 / 30);
    color: var(--mind2money-another-dark);
    display: inline-block;
    padding: 5px 11px;
    margin-bottom: 80px;
    border-radius: 6px;
    background-color: var(--mind2money-yellow);
}

.steps-list__title {
    font-size: 40px;
    line-height: calc(44 / 40);
    text-transform: uppercase;
    color: var(--mind2money-grey);
    margin-bottom: 20px;
}

.steps-list__after-title {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(28 / 16);
    color: var(--mind2money-grey);
}