.subscription .container {
    padding-bottom: 20px;
}

.subscription__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(50 / 40);
    text-transform: uppercase;
    text-align: center;
    color: var(--mind2money-grey);
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    @include desk {
        font-size: 50px;
        line-height: calc(60 / 50);
        width: 697px;
        margin-bottom: 28px;
    }
}

.subscription__title-yellow {
    font-weight: 300;
    font-style: Italic;
    font-size: 40px;
    line-height: calc(50 / 40);
    text-align: center;
    text-transform: uppercase;
    color: var(--mind2money-yellow);
    @include desk {
        font-size: 50px;
        line-height: calc(60 / 50);
    }
}

.subscription__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(28 / 16);
    text-align: center;
    color: var(--mind2money-grey);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    @include desk {
        font-size: 20px;
        line-height: calc(28 / 20);
        width: 522px;
        margin-bottom: 44px;
    }
}

.subscription__link {
    font-weight: 700;
    font-size: 19px;
    line-height: calc(20 / 19);
    color: var(--mind2money-another-dark);
    width: 236px;
    @include flex_align;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 28px;
    border-radius: 15px;
    border: 1px solid var(--mind2money-rgba-border);
    background-color: var(--mind2money-yellow);
    @include scale_with_pointer;
    @include desk {
        padding: 21px 35px;
    }
}

.subscription__link-image {
    margin-left: 11px;
}